div#notebook{
	overflow: scroll !important;
}

div#notebook p{

	text-align: justify;
	font-family: 'Old Standard TT', serif; 	

}

/* Code snippets */
div.highlight{
	background-color: #3892a87a;
}

